body{
  font-family: 'Montserrat', sans-serif;
}
#header-container{
	background-color: #99c84a;
	color: #fff;
}
#menu-container{
	background-color: #f7f7f9;
}

.btn-platzi{
	background-color: #99c84a;
	color: #fff;
}
.btn-platzi:hover{
	background-color: #8ab542;
}
.form-control:focus{
	border-color: #99c84a;
}
